.home{
    position: absolute;
    top: 48px;
    font-size: 12px;
    width: 100%;
}

@media(min-width: 800px){
    .home{
        display: flex;
        flex-direction: row;
        height: 100%;
    }
}
