.star{
    height: 30px;
    width: 30px;
    position: fixed;
    right: 20px;
    bottom: 80px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
}

.star button{
    background-color: transparent;
    border: transparent;
    padding: 0px;
}

.star img{
    height: 30px;
    width: 30px;
}

.star p{
    margin: 0px;
}