.singleMenu{
    display: flex;
    flex-direction: row;
    height: 40px;
    border-bottom: 0.2px solid #cacaca;
    padding-left: 13px;
    padding-bottom: 5px;
}

.singleMenu img{
    height: 30px;
    margin-top: 10px;
}

.singleMenu p{
    margin-top: 8px;
    font-size: 20px;
    font-weight: lighter;
    margin-left: 15px;
}

.active{
    color: #587979;
    font-weight: bolder;
}