.wholePage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.verificationCode{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
}

.verificationCode input{
    width: 120px;
}

.verificationCode img{
    height: 30px;
}

.verificationCode button{
    box-shadow: none;
    border: none;
    text-decoration: underline;
    color: blue;
    width: 60px;
}

.inputEmail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
}

.passwordAlert{
    font-size: 12px;
    margin: 0px;
    text-align: right;
    width: 90%;
    color: red;
    font-weight: bolder;
}